.bg-1  { background-image: url('../assets/bg-patterns/asfalt-light.png'); }
.bg-2  { background-image: url('../assets/bg-patterns/black-felt.png'); }
.bg-3  { background-image: url('../assets/bg-patterns/black-thread.png'); }
.bg-4  { background-image: url('../assets/bg-patterns/carbon-fibre.png'); }
.bg-5  { background-image: url('../assets/bg-patterns/cartographer.png'); }
.bg-6  { background-image: url('../assets/bg-patterns/connected.png'); }
.bg-7  { background-image: url('../assets/bg-patterns/crissxcross.png'); }
.bg-8  { background-image: url('../assets/bg-patterns/cubes.png'); }
.bg-9  { background-image: url('../assets/bg-patterns/dark-mosaic.png'); }
.bg-10 { background-image: url('../assets/bg-patterns/food.png'); }
.bg-11 { background-image: url('../assets/bg-patterns/football-no-lines.png'); }
.bg-12 { background-image: url('../assets/bg-patterns/gplay.png'); }
.bg-13 { background-image: url('../assets/bg-patterns/ice-age.png'); }
.bg-14 { background-image: url('../assets/bg-patterns/inspiration-geometry.png'); }
.bg-15 { background-image: url('../assets/bg-patterns/light-sketch.png'); }
.bg-16 { background-image: url('../assets/bg-patterns/lined-paper.png'); }
.bg-17 { background-image: url('../assets/bg-patterns/low-contrast-linen.png'); }
.bg-18 { background-image: url('../assets/bg-patterns/mirrored-squares.png'); }
.bg-19 { background-image: url('../assets/bg-patterns/navy.png'); }
.bg-20 { background-image: url('../assets/bg-patterns/old-wall.png'); }
.bg-21 { background-image: url('../assets/bg-patterns/padded.png'); }
.bg-22 { background-image: url('../assets/bg-patterns/pinstripe-dark.png'); }
.bg-23 { background-image: url('../assets/bg-patterns/purty-wood.png'); }
.bg-24 { background-image: url('../assets/bg-patterns/random-grey-variations.png'); }
.bg-25 { background-image: url('../assets/bg-patterns/real-carbon-fibre.png'); }
.bg-26 { background-image: url('../assets/bg-patterns/robots.png'); }
.bg-27 { background-image: url('../assets/bg-patterns/rocky-wall.png'); }
.bg-28 { background-image: url('../assets/bg-patterns/shley-tree-2.png'); }
.bg-29 { background-image: url('../assets/bg-patterns/skulls.png'); }
.bg-30 { background-image: url('../assets/bg-patterns/snow.png'); }
.bg-31 { background-image: url('../assets/bg-patterns/stardust.png'); }
.bg-32 { background-image: url('../assets/bg-patterns/triangles.png'); }
.bg-33 { background-image: url('../assets/bg-patterns/vichy.png'); }
.bg-34 { background-image: url('../assets/bg-patterns/white-diamond-dark.png'); }
.bg-35 { background-image: url('../assets/bg-patterns/white-diamond.png'); }
.bg-36 { background-image: url('../assets/bg-patterns/white-wall-3-2.png'); }
.bg-37 { background-image: url('../assets/bg-patterns/worn-dots.png'); }
.bg-38 { background-image: url('../assets/bg-patterns/xv.png'); }