$wbh_purple:      #170526;
$wbh_purple_hover:rgba(255,255,255,0.1);
$wbh_orange:      #FF8100;
$wbh_orange_dark: #894600;
$wbh_blue:        #009de0;

$text-bg:         rgba(0,0,0,0.25);
$color_text:      #e3e3e3;

$line-color: grey;
$menu-height: 40px;
$menu-margin: 25px;

$vert-line-lenght: 40px;
$main-vert-padding: 15px;
