// $animation-time: 0.5s;
// #impressionLink{
//   .onHover{
//     opacity: 0;
//     height: 0px;
//   }
//   a{
//     display: block;
//     height: 37px;
//     span{
//       animation-duration: $animation-time;
//       animation-iteration-count: 1;
//       animation-fill-mode: forwards;
//       display: block;
//       overflow: hidden;
//       &.initial{
//         animation-name: show;
//       }
//       &.onHover{
//         animation-name: hide;
//         animation-delay: $animation-time/2;
//       }
//     }
//     &:hover{
//       color: white;
//       span{
//       }
//       .initial{
//         animation-name: hide;
//       }
//       .onHover{
//         animation-name: show;
//       }
//     }
//   }
// }

// @keyframes hide {
//     0% { opacity:100; }
//   100% { opacity:0; height: 0px; }
// }
// @keyframes show {
//     0% { opacity:0; height: 36px;}
//   100% { opacity:100; height: 36px; }
// }

// .landing{
//   .content header, .content footer{
//     opacity: 0.1;
//   }
//   .flexTop{
//     animation-duration: 1s;
//     animation-iteration-count: infinite;
//     animation-name: pulse;
//   }
// }

// @keyframes pulse {
//     0% { opacity:0.10; }
//    35% { opacity:0.125; }
//    50% { opacity:0.075; }
//    65% { opacity:0.125; }
//   100% { opacity:0.10; }
// }