.card{
  text-align: center;
  padding: 2px;
  h2{
    text-transform: lowercase;
    font-size: 20px;
    font-weight: 100;
  }
  p{
    max-width: 550px;
    margin: 10px auto 0;
  }
  .cardIcon{
    height: 25px;
    color: $wbh_orange;
    margin: 5px;
  }
  .tagline{
    color: $wbh_blue;
    margin-top: 0;
  }
}