main{
  border: solid $wbh_blue;
  border-width: 1px 0;
  padding: $main-vert-padding 15px;
  margin: $vert-line-lenght 0;
  background-color: $text-bg;
  h1{
    width: 100%;
    margin: 0;
    text-align: center;
  }
}