nav{
  border: 1px solid $line-color;
  height: $menu-height;
  border-radius: 5px;
  margin: 0 auto;
  overflow: hidden;
  a{
    display: inline-block;
    width: 25%;
    height: $menu-height - 2;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding: $menu-height*0.20;
    letter-spacing: 4px;
    color: white;
    background-color: $text-bg;
    &:hover{
      color: $wbh_blue;
      text-decoration: none;
      background: $wbh_purple_hover;
      box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    }
    &.activeMenuLink{
      color: $wbh_blue;
      text-decoration: none;
      background: $wbh_purple_hover;
      box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    }
    border-left: 1px solid $line-color;
    &:first-child{
      border: none;
    }
  }
}

nav.main{
  width: 500px;
  margin-top: $menu-margin;
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    width: 1px;
    height: $vert-line-lenght+1;
    background: $line-color;
  }
}

@media screen and (max-width: 700px) {
  nav.main{
    width: 250px;
    height: $menu-height*2;
    a{
      width: 50%;
      border: none;
      &:first-child, &:nth-child(2){
        border-bottom: 1px solid $line-color;
      }
      &:nth-child(2), &:nth-child(4){
        border-left: 1px solid $line-color;
      }
    }
    &:after{
      height: $vert-line-lenght+3;
    }
  }
}

nav.social{
  width: $menu-height*4;
  margin-top: -1px;
  margin-bottom: $menu-height + $menu-margin + 20px;
  a{
    padding: $menu-height*0.20;
    svg{
      height: 90%;
      width: 90%;
    }
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    margin-top: - $vert-line-lenght;
    left: 50%;
    width: 1px;
    height: $vert-line-lenght;
    background: $line-color;
  }
}